/* table {
  margin: 0 auto;
  font-size: large;
  border: 1px solid black;
} */

body {
  padding: 4em;
}

.row > div {
  border-right: solid;
  border-color: black;
  border-width: 0.1em;
}

.row > div:last-of-type {
  border-right: none;
}

#careerOptions {
  overflow: scroll;
  height: 500px;
}

h1 {
  text-align: center;
  color: #006600;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", " Calibri", "Trebuchet MS",
    "sans-serif";
}

#careerchoice {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* td {
  background-color: #e4f5d4;
  border: 1px solid black;
}

th,
td {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-weight: lighter;
} */

ul {
  list-style-type: none;
}
