html {
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

#logoDiv {
  text-align: center;
  align-items: center;
  margin-bottom: 3em;
}

#logo {
  width: 350px;
}

body {
  background-color: #1a2913;
  background-size: 400% 400%;
  color: white;
}

.col {
  text-align: center;
}

.careersList {
  text-align: left;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

body {
  padding: 4em;
}

.row > div {
  border-right: solid;
  border-color: white;
  border-width: 0.1em;
}

.row > div:last-of-type {
  border-right: none;
}

#careerOptions {
  overflow: scroll;
  overflow-x: hidden;
  height: 450px;
}

#careerchoice {
  /* padding-top: 0.4em;
  padding-bottom: 0.4em; */
  padding: 0.4em;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  display: table;
  font-weight: bold;
}

#pills-rules {
  margin: 0 auto;
  width: 65%;
}

ul {
  list-style-type: none;
}

#buttonActions {
  text-align: center;
}

button {
  margin-top: 1em;
}

#fileInput {
  margin-top: 1em;
}

h2 {
  text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: black;
  background-color: #fff3ea;
}

.nav-link {
  color: #fff3ea;
}

#randomizeCareerBtn,
#fileInput {
  background-color: #5ca04a;
  border-color: #000;
}

#saveCookie,
#export {
  background-color: #fff3ea;
  color: #000;
  border-color: #000;
}

#pills-youtube {
  margin: 0 auto;
  text-align: center;
}

#ytText > p {
  text-align: left;
  width: 65%;
}
